<Project Sdk="Microsoft.NET.Sdk">
	<PropertyGroup>
		<TargetFramework>$PodNetTargetFramework$</TargetFramework>
		<Description>$PodNetPackageDescription$</Description>
		<PackageTags>$PodNetPackageTags$, PodNet, awesome</PackageTags>
	</PropertyGroup>
	<ItemGroup>
		<PackageReference Include="PodNet.NuGet.Core" PrivateAssets="all" />
	</ItemGroup>
</Project>